
<div class="Title">
    <h1>Listado</h1>
</div>

<div class="container">

    <mat-form-field apparearence="standard">
        <!-- <mat-label>Filter</mat-label> -->
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Edad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Raza">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Raza </th>
        <td mat-cell *matCellDef="let element"> {{element.raza}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>

        <ng-container matColumnDef="Peso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso </th>
            <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef > 
            <button routerLink="/add" mat-raised-button color="primary"> Agregar </button>
        </th>

        <td  mat-cell *matCellDef="let element" > 
            <mat-icon routerLink="/ver/{{element.idmascota}}" class="ver" fontIcon="visibility" matTooltip="ver" ></mat-icon>
            <mat-icon routerLink="/edit/{{element.idmascota}}" class="edit" fontIcon="edit" matTooltip="Editar" ></mat-icon>
            <mat-icon class="delete" fontIcon="delete" matTooltip="Eliminar" (click)="eliminarMascota(element.idmascota)"></mat-icon>
        </td>
        </ng-container>

        <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
    
  
