
<div class="title">
    <h1> Mascota</h1>
</div>

<div class="container">
    <mat-card class="card">
        <h2> {{operacion}} Mascota </h2>
        <form [formGroup]="form" (ngSubmit)= "agregarEditMascota()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline" >
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput placeholder="Nombre" autocomplete="off" >
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Raza</mat-label>
                        <input formControlName="raza" matInput placeholder="Raza" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Color</mat-label>
                        <input formControlName="color" matInput placeholder="Color" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Edad</mat-label>
                        <input type="number" formControlName="edad" matInput placeholder="Edad" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" >
                        <mat-label>Peso</mat-label>
                        <input type="number" formControlName="peso" matInput placeholder="Peso" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                    <button routerLink="/listado" mat-raised-button color="warn">Regresar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>









